<domain type='kvm'>
  <name>{{ vm_name }}</name>
  <uuid>{{ vm_name|to_uuid }}</uuid>
  <memory unit='MiB'>{{ virtual_machine_memory }}</memory>
  <vcpu placement='static'>{{ virtual_machine_cpus }}</vcpu>
  <os>
    <type machine='q35'>hvm</type>
    <boot dev='hd'/>
  </os>
  <features>
    <acpi/>
    <apic/>
    <pae/>
  </features>
  <cpu>
    <topology sockets='1' dies='1' cores='{{ virtual_machine_cpus }}' threads='1'/>
  </cpu>
  <clock offset='utc'/>
  <on_poweroff>destroy</on_poweroff>
  <on_reboot>restart</on_reboot>
  <on_crash>destroy</on_crash>
  <devices>
    <emulator>{{ virtual_machine_emulator }}</emulator>
    <disk type='file' device='disk'>
      <!--Guest kernel must be Linux 5.0+ to support discard with virtio bus-->
      <driver name='qemu' type='qcow2' discard='unmap'/>
      <source file='/vms/{{ vm_name }}/os.qcow2'/>
      <target dev='vda' bus='virtio'/>
    </disk>
    <interface type='network'>
      <source network='default'/>
      <mac address='{{ virtual_machine_macaddress }}'/>
      <model type='virtio'/>
    </interface>
    <input type='mouse' bus='ps2'/>
    <input type='keyboard' bus='ps2'/>
    <graphics type='spice' autoport='yes'>
      <listen type='address'/>
      <image compression='off'/>
      <clipboard copypaste='no'/>
      <filetransfer enable='no'/>
    </graphics>
    <rng model='virtio'>
      <rate period='2000' bytes='1234'/>
      <backend model='random'>/dev/random</backend>
    </rng>
    <serial type='pty'>
      <target port='0'/>
    </serial>
    <console type='pty'>
      <target type='serial' port='0'/>
    </console>
    <filesystem type="mount" accessmode="mapped">
      <driver type="path" wrpolicy="immediate"/>
      <source dir="/vms/{{ vm_name }}/data"/>
      <target dir="data"/>
      <address type="pci" domain="0x0000" bus="0x06" slot="0x00" function="0x0"/>
    </filesystem>
  </devices>
</domain>
